.header {
  width: 95%;
  background-color: #fff;
  padding: 20px 2.5%;
  /*height: 45px;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(225, 225, 225, 0.5);
}
.header-logo {
  color: #000;
  font-size: 45px;
  font-family: "blauwdruk";
  text-decoration: none

}
.header-logo a {
  color: #000;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .header-logo {
    font-size: 40px;
  }
  .main-menu-toggle {
    display: block
  }
  /*.main-menu {
    display: none;
  }*/
}
@media only screen and (max-width: 395px) {
  .header-logo {
    font-size: 30px;
  }
}
.main-menu-toggle {
  display: none;
}
.main-menu nav ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-flow: row nowrap;
  font-family: "CenturyGothic";
}
.main-menu nav ul li {
  padding: 10px;
}
.main-menu nav ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.current_page_item {
  text-decoration: line-through;
  }
.main-menu nav ul li a:hover {
  color: black;
}
.main-menu nav ul li a:visited {
  color: black;
  /*text-decoration: line-through;*/
}

@font-face {
  font-family: "blauwdruk";
  src:url('../font/Blauwdruk.ttf');
}


@font-face {
  font-family: "CenturyGothic";
  src:url('../font/CenturyGothic.ttf');
}
